   <!-- Sidebar -->
   <div class="kt-sidebar bg-background border-e-border fixed top-0 bottom-0 z-20 hidden shrink-0 flex-col items-stretch border-e lg:flex [--kt-drawer-enable:true] lg:[--kt-drawer-enable:false]" data-kt-drawer="true" data-kt-drawer-class="kt-drawer kt-drawer-start top-0 bottom-0" id="sidebar">
    @await Html.PartialAsync("Metronic/_Sidebar_Header")
    <div class="kt-sidebar-content flex shrink-0 grow py-5 pe-2" id="sidebar_content">
     <div class="kt-scrollable-y-hover flex shrink-0 grow ps-2 pe-1 lg:ps-5 lg:pe-3" data-kt-scrollable="true" data-kt-scrollable-dependencies="#sidebar_header" data-kt-scrollable-height="auto" data-kt-scrollable-offset="0px" data-kt-scrollable-wrappers="#sidebar_content" id="sidebar_scrollable">
      <!-- Sidebar Menu -->
      @await Html.PartialAsync("Metronic/_Sidebar_Menu")
      <!-- End of Sidebar Menu -->
     </div>
    </div>
   </div>
   <!-- End of Sidebar -->