@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div id="root"></div>

<vite-entry 
    srcdev="Apps/Portal/Assets/Entries/main.tsx" 
    srcpro="js/apps/portal/main-dist.js" 
    asp-append-version="true"/>