@page

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-speca-primary">Razor Page Index</h1>
<button class="bg-brand-primary rounded-speca px-4 py-2 text-white shadow-md">
    Tombol Razor
</button>
<div id="root"></div>
<vite-entry srcdev="Apps/Portal/Assets/Entries/main.tsx" srcpro="js/apps/portal/main-dist.js" asp-append-version="true"/>